

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Main Widgets</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-md-4">
    <h2>Calendar</h2>
    <calendar></calendar>
  </div>
  <div class="col-md-4">
    <h2>ListView with CRUD with JavaScript Objects</h2>
    <ng2-listview-crud [properties]="listView" [data]="listItems"></ng2-listview-crud>
  </div>
  <div class="col-md-4">
    <h2>ListView with CRUD with Arrays</h2>
    <ng2-listview-crud [properties]="arraysListViewProperty" [data]="crudArray"></ng2-listview-crud>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Alerts</h2>
    <alert [color]="successColor" [fontColor]="fontColor" [text]='successText'></alert>
    <alert [color]="warningCOlor" [text]="warningText"></alert>
    <alert [color]="dangerColor" [text]="dangerText"></alert>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <h2>Basic Panels</h2>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Default Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Primary Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        Success Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div>

</div><!-- /.row -->

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        Info Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        Warning Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Danger Panel
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div>

</div><!-- /.row -->


<div class="row">
  <div class="col-lg-12">
    <h2>Widget Panels</h2>
  </div>

  <div class="col-md-6">
    <div class="panel panel-blue">
      <div class="panel-heading dark-overlay">Blue Panel</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-md-6">
    <div class="panel panel-teal">
      <div class="panel-heading dark-overlay">Teal Panel</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div><!--/.col-->

  <div class="col-md-6">
    <div class="panel panel-orange">
      <div class="panel-heading dark-overlay">Orange Panel</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div><!--/.col-->

  <div class="col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading dark-overlay">Red Panel</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
      </div>
    </div>
  </div><!--/.col-->
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Tab Panels</h2>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
          <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
          <li><a href="#tab3" data-toggle="tab">Tab 3</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <h4>Tab 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
          </div>
          <div class="tab-pane fade" id="tab2">
            <h4>Tab 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
          </div>
          <div class="tab-pane fade" id="tab3">
            <h4>Tab 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
          </div>
        </div>
      </div>
    </div><!--/.panel-->
  </div><!--/.col-->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body tabs">

        <ul class="nav nav-pills">
          <li class="active"><a href="#pilltab1" data-toggle="tab">Tab 1</a></li>
          <li><a href="#pilltab2" data-toggle="tab">Tab 2</a></li>
          <li><a href="#pilltab3" data-toggle="tab">Tab 3</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="pilltab1">
            <h4>Tab 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
          </div>
          <div class="tab-pane fade" id="pilltab2">
            <h4>Tab 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
          </div>
          <div class="tab-pane fade" id="pilltab3">
            <h4>Tab 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
          </div>
        </div>
      </div>
    </div><!--/.panel-->
  </div><!-- /.col-->

</div><!-- /.row -->

<div class="row">
  <div class="col-md-6">
    <div class="panel  chat">
      <div class="panel-heading panel-blue" id="accordion">
        <i class="fa fa-list fa-fw"></i> Chat</div>
      <div class="panel-body">
        <ul>
          <li class="left clearfix">
								<span class="chat-img pull-left">
									<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle" />
								</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">John Doe</strong> <small class="text-muted">32 mins ago</small>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida tortor aliquam ultricies.
              </p>
            </div>
          </li>
          <li class="right clearfix">
								<span class="chat-img pull-right">
									<img src="http://placehold.it/80/dde0e6/5f6468" alt="User Avatar" class="img-circle" />
								</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="pull-left primary-font">Jane Doe</strong> <small class="text-muted">6 mins ago</small>
              </div>
              <p>
                Mauris dignissim porta enim, sed commodo sem blandit non. Ut scelerisque sapien eu mauris faucibus ultrices. Nulla ac odio nisl. Proin est metus, interdum scelerisque quam eu, eleifend pretium nunc. Suspendisse finibus auctor lectus, eu interdum sapien.
              </p>
            </div>
          </li>
          <li class="left clearfix">
								<span class="chat-img pull-left">
									<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle" />
								</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">John Doe</strong> <small class="text-muted">32 mins ago</small>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida tortor aliquam ultricies.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="panel-footer">
        <div class="input-group">
          <input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." />
          <span class="input-group-btn">
								<button class="btn btn-success btn-md" id="btn-chat">Send</button>
							</span>
        </div>
      </div>
    </div>

  </div><!--/.col-->
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default ">
      <div class="panel-heading">
        Timeline
      </div>

      <div class="panel-body timeline-container">
        <ng2-timeline [completeListener]="completeListener" [data]="timelineData"></ng2-timeline>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="panel panel-default articles">
      <div class="panel-heading">
        Latest News
      </div>
      <div class="panel-body articles-container">
        <ng2-news-list [data]="newsList"></ng2-news-list>
      </div>
    </div><!--End .articles-->

    <div class="panel panel-default ">
      <div class="panel-heading">
        Progress bars
      </div>
      <div class="panel-body">
        <div class="col-md-12 no-padding">
          <div class="row progress-labels">
            <div class="col-sm-6">New Orders</div>
            <div class="col-sm-6" style="text-align: right;">80%</div>
          </div>
          <div class="progress">
            <div data-percentage="0%" style="width: 80%;" class="progress-bar progress-bar-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row progress-labels">
            <div class="col-sm-6">Comments</div>
            <div class="col-sm-6" style="text-align: right;">60%</div>
          </div>
          <div class="progress">
            <div data-percentage="0%" style="width: 60%;background-color: #1ebfae" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row progress-labels">
            <div class="col-sm-6">New Users</div>
            <div class="col-sm-6" style="text-align: right;">40%</div>
          </div>
          <div class="progress">
            <div data-percentage="0%" style="width: 40%;" class="progress-bar progress-bar-teal" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row progress-labels">
            <div class="col-sm-6">Page Views</div>
            <div class="col-sm-6" style="text-align: right;">20%</div>
          </div>
          <div class="progress">
            <div data-percentage="0%" style="width: 20%;" class="progress-bar progress-bar-red" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
