<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Paper </span>Admin</a>
      <ul class="user-menu">
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             User <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-fw fa-cogs"></i> Settings</a></li>
            <li><a href="#"><i class="fa fa-fw fa-lock"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li><a routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/form']"><i class="fa fa-list fa-fw"></i> Form</a></li>

    <li class="parent ">
      <a data-toggle="collapse" href="#sub-item-1">
        <i class="fa fa-fw fa-chevron-circle-down"></i> Widgets
      </a>
      <ul class="children collapse" id="sub-item-1">
        <li>
          <a routerLinkActive="active" [routerLink]="['/main']">
            <i class="fa fa-fw fa-cogs"></i> Main
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['/table']">
            <i class="fa fa-fw fa-table"></i> Table
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['/charts']">
            <i class="fa fa-fw fa-bar-chart"></i> Charts
          </a>
        </li>
      </ul>
    </li>
    <li role="presentation" class="divider"></li>
    <li><a routerLinkActive="active" [routerLink]="['/login']"><i class="fa fa-user fa-fw"></i> Login</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/register']"><i class="fa fa-users fa-fw"></i> Register</a></li>

  </ul>
  <div class="attribution">Some styles adopted from
    <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/>

  </div>
</div><!--/.sidebar-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<!-- Main content -->
    <router-outlet></router-outlet>
</div>
