.selected{
  background: bisque;
}
/*Todo List Widget*/

.todo-list-item .glyphicon {
  margin-right:5px;
  color: #9fadbb;
}

.todo-list-item .glyphicon:hover {
  margin-right:5px;
  color: #1b3548;
}

.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #5f6468;
}

#checkbox {
  margin: 0;
}

.todo-list .checkbox {
  display:inline-block;
  margin: 0px;
}

.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #777;
}

.todo-list-item {
  list-style: none;
  line-height: 0.9;
  padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f6f6f6;
}

.todo-list-item .trash .glyph:hover {
  color: #ef4040;
}

.searchBoxListView{
  border-radius: 0px;
}

ul li a{
  text-decoration: none;
}
ul li div {display: none;}
ul li:hover div {display: inline;}
