<div class="panel">
  <div class="panel-heading" [style.background]="listView['color']">
    <i [class]="listView['icon']" style="margin-right: 10px"></i>{{listView['label']}}
  </div>
  <input type="text" class="form-control searchBoxListView" placeholder="Search...." [(ngModel)]="search" (keyup)="onChangeListener($event)">
  <div class="panel-body">
    <ul class="todo-list">
      <li *ngFor="let item of subData; index as i" class="todo-list-item" [id]="i" >
        {{item}}
        <div class="pull-right action-buttons">
          <a href="javascript:void(0)" (click)="onEditClickListener(i)"><i class="fa fa-pencil fa-fw"></i> </a>
          <a href="javascript:void(0)" (click)="onDeleteClickListener(i)"><i class="fa-fw fa fa-remove"></i> </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <div class="input-group">
      <input type="text" class="form-control input-md" placeholder="Add" [(ngModel)]="value">
      <span class="input-group-btn">
        <button class="btn btn-success btn-md" id="btn-todo" (click)="onAddClickListener()">{{opType}}</button>
      </span>
    </div>
  </div>
</div>
