/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap.css";
@import "assets/css/datepicker3.css";
@import "assets/css/styles.css";
@import "assets/css/font-awesome.min.css";

.datepicker table{
  width: 100% !important;
}

table tr td, table th{
  font-size:1.2rem !important;
}

.sidebar ul.nav ul.children li a.active {
  color: #ececec !important;
}

.todo-list-item{
  list-style: none;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e9ecf2;
  left: 25px;
  margin-right: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 46px;
  height: 46px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-radius: 9999px;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 65px );
  float: right;
  border: 1px solid #edeeed;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  box-shadow: none;
}
.timeline > li:after {
  clear: both;
}
.timeline-badge.primary {
  background-color: #30a5ff !important;
}
